h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a, ul {
    list-style-type: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: auto;
    
}
input {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid gray; 
    color: #000;
    margin-left: 156px;
}
input:hover, input:focus {
    border-color: black;
}
input:active {
    border-color: blue;
}
input:disabled {
    background: #fafafa;
    color: #808080;
}
button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    border: none;
    color: #fff;
}
button:hover, button:focus {
    background: #6c8cff;
}
button:disabled {
    background: #cfcfcf;
    color: #989898;
}
.timer {
    display: flex;
    gap: 20px;
    max-width: 346px;
    height: 72px;
    margin-top: 20px;
    margin-left: 156px;
}
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-transform: uppercase;
}
